.lineInput{
  --background: white;
}

.noPadding{
  padding-top: 0px;
  padding-bottom: 0px;
}

.roomInput{
  text-align: center;
  color: black;
  background: white;
  border: 1;
}

.centerContent{
  text-align: center;
}