<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{this.backRoute}}">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Room: {{ roomId }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="barcode()">
        <ion-icon name="barcode"></ion-icon>
      </ion-button>

      <!-- <ion-button>   
      <ion-button *ngIf="anonymous" (click)="upgradeAccount()">
        <ion-icon name="person-add"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content no-padding class="background">
  <ion-list class="background" no-padding no-margin color="primary">
    <ion-card *ngFor="let picture of pictureList | async">
      <ion-card-header>
        {{picture.email}}
      </ion-card-header>
      <ion-card-content no-padding no-margin>
        <img [src]="picture.URL"/>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-grid no-padding>
      <ion-row no-padding no-margin>
        <ion-col col-4 no-padding>
        </ion-col>
        <ion-col col-4 no-padding class="photoColumn">
          <ion-button no-padding expand="block" class="fuller" (click)="takePhoto()" color="success">
            <ion-icon size="large" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col col-4 no-padding>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
